    body {
    background-image: url("../img/fondo.png");
    background-size:cover;
    background-attachment: fixed;
    }

    #area{
        background-color:black;
        border-radius: 10px;
    }
    h1{
        color: blue;
    }