/* SECCION GENERAL PARA TELEFONOS MOVILES*/
@media screen and (max-width: 768px) {

    

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    a,
    p {
        font-family: monospace
    }

    .destacado {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(77, 218, 12);
        font-style: italic;
        font-size: 20px;
        background-color: rgba(10, 79, 170, 0.712)
    }

    .menu a:hover {
        color: rgb(37, 211, 52);
        background-color: rgb(218, 61, 13)
    }

    .menu a {
        color: rgb(195, 236, 10);
        background-color: rgb(14, 83, 185);
        padding: 3px 2px 5px 6px;
        border-radius: 30px;
        border-style: solid;
        border-color: #007bff;
        border-width: 4px;

    }

    .menu {
        color: rgb(0, 3, 184);
        background-color: rgb(115, 226, 10)
    }


    #miformulario {
        font-family: fantasy;
        font-style: italic;
        color: rgb(26, 55, 185);
    }

    .parrafos {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: oblique;
        font-size: 15px;
        color: rgb(18, 44, 1);
    }

    .titulos {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: bold;
        font-style: italic;
        color: rgb(2, 66, 21);
        font-size: 22px;

    }

    .boton {
        font-style: italic;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 22px;
        border-radius: 100px;


    }

    .pie {
        color: rgb(195, 236, 10);
        background-color: rgb(14, 83, 185);
        padding: 3px 2px 5px 6px;
        border-radius: 99px;
        border-style: solid;
        border-color: rgb(185, 28, 101);
        border-width: 2px;
        font-size: 12px;
    }
    }

    body {
    background-color: rgb(36, 206, 183);
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    }

    button {
    margin: 6px;
    height: 70%;
    margin-top: -3px;
    background-color: #6495ed;
    }


    .container1 {
    display: flex;
    justify-content: center;
    align-items: center;

    }

    #spCorreo,
    #spNombre,
    #spDireccion,
    #spCiudad,
    #spFono,
    #spPais {
    font-size: smaller;
    color: red;
    padding-left: 0%;
    }
    .mensajes{
    width: 80%;
    float:left;
    text-align: left;
    }
    #lbPais{
    float: center;
    }